# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns=enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df.drop(columns = categorical_variables)], axis=1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + number_output_neurons) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [18]:
# Create the Sequential model instance
nn = Sequential()

2022-08-16 16:26:31.386269: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 909us/step - loss: 0.5778 - accuracy: 0.7156
Epoch 2/50
804/804 [==============================] - 1s 901us/step - loss: 0.5539 - accuracy: 0.7295
Epoch 3/50
804/804 [==============================] - 1s 910us/step - loss: 0.5499 - accuracy: 0.7309
Epoch 4/50
804/804 [==============================] - 1s 908us/step - loss: 0.5479 - accuracy: 0.7320
Epoch 5/50
804/804 [==============================] - 1s 914us/step - loss: 0.5459 - accuracy: 0.7336
Epoch 6/50
804/804 [==============================] - 1s 931us/step - loss: 0.5448 - accuracy: 0.7331
Epoch 7/50
804/804 [==============================] - 1s 910us/step - loss: 0.5447 - accuracy: 0.7340
Epoch 8/50
804/804 [==============================] - 1s 905us/step - loss: 0.5436 - accuracy: 0.7341
Epoch 9/50
804/804 [==============================] - 1s 908us/step - loss: 0.5426 - accuracy: 0.7338
Epoch 10/50
804/804 [==============================] - 1s 904us/step - loss: 0.5425 - accuracy: 0.7346
Epoch 11/50
804/804 [==============================] - 1s 909us/step - loss: 0.5416 - accuracy: 0.7357
Epoch 12/50
804/804 [==============================] - 1s 903us/step - loss: 0.5414 - accuracy: 0.7346
Epoch 13/50
804/804 [==============================] - 1s 909us/step - loss: 0.5402 - accuracy: 0.7370
Epoch 14/50
804/804 [==============================] - 1s 914us/step - loss: 0.5399 - accuracy: 0.7360
Epoch 15/50
804/804 [==============================] - 1s 921us/step - loss: 0.5400 - accuracy: 0.7350
Epoch 16/50
804/804 [==============================] - 1s 914us/step - loss: 0.5389 - accuracy: 0.7354
Epoch 17/50
804/804 [==============================] - 1s 914us/step - loss: 0.5388 - accuracy: 0.7357
Epoch 18/50
804/804 [==============================] - 1s 911us/step - loss: 0.5385 - accuracy: 0.7364
Epoch 19/50
804/804 [==============================] - 1s 937us/step - loss: 0.5380 - accuracy: 0.7368
Epoch 20/50
804/804 [==============================] - 1s 918us/step - loss: 0.5379 - accuracy: 0.7372
Epoch 21/50
804/804 [==============================] - 1s 917us/step - loss: 0.5377 - accuracy: 0.7368
Epoch 22/50
804/804 [==============================] - 1s 911us/step - loss: 0.5374 - accuracy: 0.7362
Epoch 23/50
804/804 [==============================] - 1s 919us/step - loss: 0.5369 - accuracy: 0.7387
Epoch 24/50
804/804 [==============================] - 1s 916us/step - loss: 0.5366 - accuracy: 0.7386
Epoch 25/50
804/804 [==============================] - 1s 915us/step - loss: 0.5358 - accuracy: 0.7368
Epoch 26/50
804/804 [==============================] - 1s 915us/step - loss: 0.5362 - accuracy: 0.7395
Epoch 27/50
804/804 [==============================] - 1s 916us/step - loss: 0.5356 - accuracy: 0.7389
Epoch 28/50
804/804 [==============================] - 1s 915us/step - loss: 0.5350 - accuracy: 0.7381
Epoch 29/50
804/804 [==============================] - 1s 939us/step - loss: 0.5350 - accuracy: 0.7397
Epoch 30/50
804/804 [==============================] - 1s 923us/step - loss: 0.5349 - accuracy: 0.7388
Epoch 31/50
804/804 [==============================] - 1s 916us/step - loss: 0.5349 - accuracy: 0.7387
Epoch 32/50
804/804 [==============================] - 1s 923us/step - loss: 0.5343 - accuracy: 0.7386
Epoch 33/50
804/804 [==============================] - 1s 919us/step - loss: 0.5342 - accuracy: 0.7402
Epoch 34/50
804/804 [==============================] - 1s 924us/step - loss: 0.5338 - accuracy: 0.7399
Epoch 35/50
804/804 [==============================] - 1s 917us/step - loss: 0.5336 - accuracy: 0.7400
Epoch 36/50
804/804 [==============================] - 1s 919us/step - loss: 0.5334 - accuracy: 0.7393
Epoch 37/50
804/804 [==============================] - 1s 919us/step - loss: 0.5334 - accuracy: 0.7409
Epoch 38/50
804/804 [==============================] - 1s 939us/step - loss: 0.5329 - accuracy: 0.7399
Epoch 39/50
804/804 [==============================] - 1s 922us/step - loss: 0.5326 - accuracy: 0.7399
Epoch 40/50
804/804 [==============================] - 1s 917us/step - loss: 0.5327 - accuracy: 0.7408
Epoch 41/50
804/804 [==============================] - 1s 919us/step - loss: 0.5330 - accuracy: 0.7402
Epoch 42/50
804/804 [==============================] - 1s 918us/step - loss: 0.5325 - accuracy: 0.7404
Epoch 43/50
804/804 [==============================] - 1s 921us/step - loss: 0.5324 - accuracy: 0.7388
Epoch 44/50
804/804 [==============================] - 1s 918us/step - loss: 0.5326 - accuracy: 0.7406
Epoch 45/50
804/804 [==============================] - 1s 919us/step - loss: 0.5318 - accuracy: 0.7400
Epoch 46/50
804/804 [==============================] - 1s 938us/step - loss: 0.5321 - accuracy: 0.7409
Epoch 47/50
804/804 [==============================] - 1s 919us/step - loss: 0.5318 - accuracy: 0.7395
Epoch 48/50
804/804 [==============================] - 1s 923us/step - loss: 0.5315 - accuracy: 0.7414
Epoch 49/50
804/804 [==============================] - 1s 920us/step - loss: 0.5317 - accuracy: 0.7403
Epoch 50/50
804/804 [==============================] - 1s 913us/step - loss: 0.5315 - accuracy: 0.7407

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5569 - accuracy: 0.7275 - 250ms/epoch - 934us/step
Loss: 0.5568925738334656, Accuracy: 0.7274635434150696

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

---

## Optimize the data to be used on alternative neural network models

### Step 2: Examine the encoded_df data to see if any features are unnecessary or redundant

In [27]:
# For reference, get an idea of the split between the IS_SUCCESSFUL counts
encoded_df['IS_SUCCESSFUL'].value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [28]:
# Looks like there are very few STATUS=0 records by eyeballing the data; verify STATUS counts here
encoded_df['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [29]:
# See if the 5 STATUS=0 records are more or less likely to be IS_SUCCESSFUL
encoded_df[encoded_df['STATUS'] == 0]

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
2816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,5000,1
2928,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0,7287,1
10155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,5000,1
20518,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,5000,0
29590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,5000,0

In [30]:
# 60% (3 out of 5) of the STATUS=0 records were IS_SUCCESSFUL.  Very close to overall average of just over 50% of all records.
# I think we can safely drop STATUS from the list of data inputs.

In [31]:
# Find the sum of each column in original encoded dataframe (to get idea of counts for each category)
print(encoded_df.sum().head(60))
print(encoded_df.sum().tail(60))

APPLICATION_TYPE_T10              528.0
APPLICATION_TYPE_T12               27.0
APPLICATION_TYPE_T13               66.0
APPLICATION_TYPE_T14                3.0
APPLICATION_TYPE_T15                2.0
APPLICATION_TYPE_T17                1.0
APPLICATION_TYPE_T19             1065.0
APPLICATION_TYPE_T2                16.0
APPLICATION_TYPE_T25                3.0
APPLICATION_TYPE_T29                2.0
APPLICATION_TYPE_T3             27037.0
APPLICATION_TYPE_T4              1542.0
APPLICATION_TYPE_T5              1173.0
APPLICATION_TYPE_T6              1216.0
APPLICATION_TYPE_T7               725.0
APPLICATION_TYPE_T8               737.0
APPLICATION_TYPE_T9               156.0
AFFILIATION_CompanySponsored    15705.0
AFFILIATION_Family/Parent          64.0
AFFILIATION_Independent         18480.0
AFFILIATION_National               33.0
AFFILIATION_Other                   4.0
AFFILIATION_Regional               13.0
CLASSIFICATION_C0                   3.0
CLASSIFICATION_C1000            17326.0
CLASSIFICATION_C1200             4837.0
CLASSIFICATION_C1230               36.0
CLASSIFICATION_C1234                2.0
CLASSIFICATION_C1235                9.0
CLASSIFICATION_C1236                1.0
CLASSIFICATION_C1237                9.0
CLASSIFICATION_C1238               10.0
CLASSIFICATION_C1240               30.0
CLASSIFICATION_C1245                1.0
CLASSIFICATION_C1246                2.0
CLASSIFICATION_C1248                1.0
CLASSIFICATION_C1250               14.0
CLASSIFICATION_C1256                2.0
CLASSIFICATION_C1257                5.0
CLASSIFICATION_C1260                3.0
CLASSIFICATION_C1267                2.0
CLASSIFICATION_C1270              114.0
CLASSIFICATION_C1278               10.0
CLASSIFICATION_C1280               50.0
CLASSIFICATION_C1283                1.0
CLASSIFICATION_C1300               58.0
CLASSIFICATION_C1370                1.0
CLASSIFICATION_C1400               34.0
CLASSIFICATION_C1500               16.0
CLASSIFICATION_C1570                1.0
CLASSIFICATION_C1580                1.0
CLASSIFICATION_C1600                5.0
CLASSIFICATION_C1700              287.0
CLASSIFICATION_C1720                6.0
CLASSIFICATION_C1728                1.0
CLASSIFICATION_C1732                1.0
CLASSIFICATION_C1800               15.0
CLASSIFICATION_C1820                1.0
CLASSIFICATION_C1900                1.0
CLASSIFICATION_C2000             6074.0
dtype: float64
CLASSIFICATION_C1820         1.000000e+00
CLASSIFICATION_C1900         1.000000e+00
CLASSIFICATION_C2000         6.074000e+03
CLASSIFICATION_C2100         1.883000e+03
CLASSIFICATION_C2150         1.000000e+00
CLASSIFICATION_C2170         1.000000e+00
CLASSIFICATION_C2190         1.000000e+00
CLASSIFICATION_C2300         3.200000e+01
CLASSIFICATION_C2380         1.000000e+00
CLASSIFICATION_C2400         6.000000e+00
CLASSIFICATION_C2500         1.000000e+00
CLASSIFICATION_C2561         1.000000e+00
CLASSIFICATION_C2570         1.000000e+00
CLASSIFICATION_C2600         1.000000e+00
CLASSIFICATION_C2700         1.040000e+02
CLASSIFICATION_C2710         3.000000e+00
CLASSIFICATION_C2800         9.500000e+01
CLASSIFICATION_C3000         1.918000e+03
CLASSIFICATION_C3200         2.000000e+00
CLASSIFICATION_C3700         1.000000e+00
CLASSIFICATION_C4000         1.940000e+02
CLASSIFICATION_C4100         6.000000e+00
CLASSIFICATION_C4120         1.000000e+00
CLASSIFICATION_C4200         1.000000e+00
CLASSIFICATION_C4500         1.000000e+00
CLASSIFICATION_C5000         1.160000e+02
CLASSIFICATION_C5200         1.000000e+00
CLASSIFICATION_C6000         1.500000e+01
CLASSIFICATION_C6100         1.000000e+00
CLASSIFICATION_C7000         7.770000e+02
CLASSIFICATION_C7100         7.500000e+01
CLASSIFICATION_C7120         1.800000e+01
CLASSIFICATION_C7200         3.200000e+01
CLASSIFICATION_C7210         7.000000e+00
CLASSIFICATION_C8000         2.000000e+01
CLASSIFICATION_C8200         1.100000e+01
CLASSIFICATION_C8210         1.000000e+00
USE_CASE_CommunityServ       3.840000e+02
USE_CASE_Heathcare           1.460000e+02
USE_CASE_Other               3.000000e+00
USE_CASE_Preservation        2.809500e+04
USE_CASE_ProductDev          5.671000e+03
ORGANIZATION_Association     1.025500e+04
ORGANIZATION_Co-operative    4.860000e+02
ORGANIZATION_Corporation     4.300000e+01
ORGANIZATION_Trust           2.351500e+04
INCOME_AMT_0                 2.438800e+04
INCOME_AMT_1-9999            7.280000e+02
INCOME_AMT_10000-24999       5.430000e+02
INCOME_AMT_100000-499999     3.374000e+03
INCOME_AMT_10M-50M           2.400000e+02
INCOME_AMT_1M-5M             9.550000e+02
INCOME_AMT_25000-99999       3.747000e+03
INCOME_AMT_50M+              1.390000e+02
INCOME_AMT_5M-10M            1.850000e+02
SPECIAL_CONSIDERATIONS_N     3.427200e+04
SPECIAL_CONSIDERATIONS_Y     2.700000e+01
STATUS                       3.429400e+04
ASK_AMT                      9.498075e+10
IS_SUCCESSFUL                1.826100e+04
dtype: float64

In [32]:
# See if the 4 AFFILIATION_Other records are more or less likely to be IS_SUCCESSFUL
encoded_df[encoded_df['AFFILIATION_Other'] == 1.0]

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
11564,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1,1904956,1
27737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
28951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
33462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1

In [33]:
# See if the 3 USE_CASE_Other records are more or less likely to be IS_SUCCESSFUL
encoded_df[encoded_df['USE_CASE_Other'] == 1.0]

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
5112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
5566,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1,8027,1
34215,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,75412,1

### Steps 3 and 4: Decide which features will be removed from encoded_df, then create new alt_encoded_df to be used in alternative models below

In [34]:
encoded_df['IS_SUCCESSFUL'].count()

34299

In [35]:
# Going to try to optimize the data preprocessing by removing the following features (columns) from the encoded_df DataFrame:
# SPECIAL_CONSIDERATIONS_Y - this column's characteristics are already reflected in the SPECIAL_CONSIDERATIONS_N column
# STATUS - all but 5 records show STATUS = 1.  The 5 STATUS = 0 records are mixed relatively evenly among the target IS_SUCCESSFUL, so apparantly not dependent on STATUS

# Set outlier cutoff.  Used to remove features that have too few matches that may result in overfitting.
outlier_cutoff = encoded_df['IS_SUCCESSFUL'].count() / 1000 # If less than 0.1% of records share a particular feature, remove that feature from the model

# Create list of dropped columns for feature counts that are less than the "outlier_cutoff" value, being sure to add 'SPECIAL_CONSIDERATIONS_Y' and 'STATUS' afterwards.
dropped_columns = list(encoded_df.loc[:,[(encoded_df[col].sum() < outlier_cutoff) for col in encoded_df.columns]])
dropped_columns.append('SPECIAL_CONSIDERATIONS_Y') # Will probably already be included in list, but added here in case "outlier_cutoff" is reduced or eliminated later on.
dropped_columns.append('STATUS')
print("Dropped column listing:")
display(dropped_columns)

# Create new encoded dataframe for alternative models
alt_encoded_df = encoded_df.drop(columns = dropped_columns)

# Preview new df
alt_encoded_df.head()

Dropped column listing:

['APPLICATION_TYPE_T12',
 'APPLICATION_TYPE_T14',
 'APPLICATION_TYPE_T15',
 'APPLICATION_TYPE_T17',
 'APPLICATION_TYPE_T2',
 'APPLICATION_TYPE_T25',
 'APPLICATION_TYPE_T29',
 'AFFILIATION_National',
 'AFFILIATION_Other',
 'AFFILIATION_Regional',
 'CLASSIFICATION_C0',
 'CLASSIFICATION_C1234',
 'CLASSIFICATION_C1235',
 'CLASSIFICATION_C1236',
 'CLASSIFICATION_C1237',
 'CLASSIFICATION_C1238',
 'CLASSIFICATION_C1240',
 'CLASSIFICATION_C1245',
 'CLASSIFICATION_C1246',
 'CLASSIFICATION_C1248',
 'CLASSIFICATION_C1250',
 'CLASSIFICATION_C1256',
 'CLASSIFICATION_C1257',
 'CLASSIFICATION_C1260',
 'CLASSIFICATION_C1267',
 'CLASSIFICATION_C1278',
 'CLASSIFICATION_C1283',
 'CLASSIFICATION_C1370',
 'CLASSIFICATION_C1400',
 'CLASSIFICATION_C1500',
 'CLASSIFICATION_C1570',
 'CLASSIFICATION_C1580',
 'CLASSIFICATION_C1600',
 'CLASSIFICATION_C1720',
 'CLASSIFICATION_C1728',
 'CLASSIFICATION_C1732',
 'CLASSIFICATION_C1800',
 'CLASSIFICATION_C1820',
 'CLASSIFICATION_C1900',
 'CLASSIFICATION_C2150',
 'CLASSIFICATION_C2170',
 'CLASSIFICATION_C2190',
 'CLASSIFICATION_C2300',
 'CLASSIFICATION_C2380',
 'CLASSIFICATION_C2400',
 'CLASSIFICATION_C2500',
 'CLASSIFICATION_C2561',
 'CLASSIFICATION_C2570',
 'CLASSIFICATION_C2600',
 'CLASSIFICATION_C2710',
 'CLASSIFICATION_C3200',
 'CLASSIFICATION_C3700',
 'CLASSIFICATION_C4100',
 'CLASSIFICATION_C4120',
 'CLASSIFICATION_C4200',
 'CLASSIFICATION_C4500',
 'CLASSIFICATION_C5200',
 'CLASSIFICATION_C6000',
 'CLASSIFICATION_C6100',
 'CLASSIFICATION_C7120',
 'CLASSIFICATION_C7200',
 'CLASSIFICATION_C7210',
 'CLASSIFICATION_C8000',
 'CLASSIFICATION_C8200',
 'CLASSIFICATION_C8210',
 'USE_CASE_Other',
 'SPECIAL_CONSIDERATIONS_Y',
 'SPECIAL_CONSIDERATIONS_Y',
 'STATUS']

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,...,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5000,1
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,108590,1
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5000,0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6692,1
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,142590,1

### Step 5: Using the alternative preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [36]:
# Define the target set y using the IS_SUCCESSFUL column
# OK to use same target set y from original model, as these values have not changed

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [37]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X_alt = alt_encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X_alt.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5000
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,108590
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5000
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6692
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [38]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train_alt, X_test_alt, y_train_alt, y_test_alt = train_test_split(X_alt, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [39]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train_alt)

# Fit the scaler to the features training dataset
X_train_scaled_alt = X_scaler.transform(X_train_alt)
X_test_scaled_alt = X_scaler.transform(X_test_alt)

### Alternative Model 1

In [40]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_train_alt.iloc[0])

# Review the number of features
number_input_features_A1

48

In [41]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [42]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features_A1 + number_output_neurons_A1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

24

In [43]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 =  (hidden_nodes_layer1_A1 + number_output_neurons_A1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A1

12

In [44]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [45]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features_A1, activation="relu"))

# Add the second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 24)                1176

 dense_4 (Dense)             (None, 12)                300

 dense_5 (Dense)             (None, 1)                 13

=================================================================
Total params: 1,489
Trainable params: 1,489
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [47]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled_alt, y_train_alt, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 893us/step - loss: 0.5795 - accuracy: 0.7093
Epoch 2/50
804/804 [==============================] - 1s 898us/step - loss: 0.5533 - accuracy: 0.7308
Epoch 3/50
804/804 [==============================] - 1s 899us/step - loss: 0.5499 - accuracy: 0.7313
Epoch 4/50
804/804 [==============================] - 1s 896us/step - loss: 0.5480 - accuracy: 0.7313
Epoch 5/50
804/804 [==============================] - 1s 876us/step - loss: 0.5472 - accuracy: 0.7320
Epoch 6/50
804/804 [==============================] - 1s 880us/step - loss: 0.5459 - accuracy: 0.7331
Epoch 7/50
804/804 [==============================] - 1s 880us/step - loss: 0.5449 - accuracy: 0.7337
Epoch 8/50
804/804 [==============================] - 1s 880us/step - loss: 0.5446 - accuracy: 0.7343
Epoch 9/50
804/804 [==============================] - 1s 881us/step - loss: 0.5438 - accuracy: 0.7346
Epoch 10/50
804/804 [==============================] - 1s 884us/step - loss: 0.5435 - accuracy: 0.7345
Epoch 11/50
804/804 [==============================] - 1s 883us/step - loss: 0.5432 - accuracy: 0.7355
Epoch 12/50
804/804 [==============================] - 1s 879us/step - loss: 0.5425 - accuracy: 0.7350
Epoch 13/50
804/804 [==============================] - 1s 882us/step - loss: 0.5424 - accuracy: 0.7343
Epoch 14/50
804/804 [==============================] - 1s 884us/step - loss: 0.5420 - accuracy: 0.7357
Epoch 15/50
804/804 [==============================] - 1s 882us/step - loss: 0.5418 - accuracy: 0.7351
Epoch 16/50
804/804 [==============================] - 1s 882us/step - loss: 0.5416 - accuracy: 0.7348
Epoch 17/50
804/804 [==============================] - 1s 905us/step - loss: 0.5410 - accuracy: 0.7356
Epoch 18/50
804/804 [==============================] - 1s 884us/step - loss: 0.5412 - accuracy: 0.7364
Epoch 19/50
804/804 [==============================] - 1s 889us/step - loss: 0.5409 - accuracy: 0.7361
Epoch 20/50
804/804 [==============================] - 1s 892us/step - loss: 0.5405 - accuracy: 0.7366
Epoch 21/50
804/804 [==============================] - 1s 889us/step - loss: 0.5406 - accuracy: 0.7368
Epoch 22/50
804/804 [==============================] - 1s 886us/step - loss: 0.5404 - accuracy: 0.7369
Epoch 23/50
804/804 [==============================] - 1s 887us/step - loss: 0.5402 - accuracy: 0.7371
Epoch 24/50
804/804 [==============================] - 1s 906us/step - loss: 0.5404 - accuracy: 0.7371
Epoch 25/50
804/804 [==============================] - 1s 885us/step - loss: 0.5395 - accuracy: 0.7372
Epoch 26/50
804/804 [==============================] - 1s 883us/step - loss: 0.5395 - accuracy: 0.7376
Epoch 27/50
804/804 [==============================] - 1s 884us/step - loss: 0.5392 - accuracy: 0.7378
Epoch 28/50
804/804 [==============================] - 1s 888us/step - loss: 0.5393 - accuracy: 0.7376
Epoch 29/50
804/804 [==============================] - 1s 900us/step - loss: 0.5389 - accuracy: 0.7375
Epoch 30/50
804/804 [==============================] - 1s 887us/step - loss: 0.5390 - accuracy: 0.7370
Epoch 31/50
804/804 [==============================] - 1s 901us/step - loss: 0.5389 - accuracy: 0.7378
Epoch 32/50
804/804 [==============================] - 1s 913us/step - loss: 0.5385 - accuracy: 0.7378
Epoch 33/50
804/804 [==============================] - 1s 905us/step - loss: 0.5383 - accuracy: 0.7374
Epoch 34/50
804/804 [==============================] - 1s 903us/step - loss: 0.5382 - accuracy: 0.7371
Epoch 35/50
804/804 [==============================] - 1s 960us/step - loss: 0.5382 - accuracy: 0.7379
Epoch 36/50
804/804 [==============================] - 1s 889us/step - loss: 0.5378 - accuracy: 0.7374
Epoch 37/50
804/804 [==============================] - 1s 888us/step - loss: 0.5380 - accuracy: 0.7381
Epoch 38/50
804/804 [==============================] - 1s 894us/step - loss: 0.5377 - accuracy: 0.7388
Epoch 39/50
804/804 [==============================] - 1s 885us/step - loss: 0.5378 - accuracy: 0.7379
Epoch 40/50
804/804 [==============================] - 1s 887us/step - loss: 0.5375 - accuracy: 0.7381
Epoch 41/50
804/804 [==============================] - 1s 890us/step - loss: 0.5373 - accuracy: 0.7381
Epoch 42/50
804/804 [==============================] - 1s 885us/step - loss: 0.5374 - accuracy: 0.7375
Epoch 43/50
804/804 [==============================] - 1s 884us/step - loss: 0.5372 - accuracy: 0.7386
Epoch 44/50
804/804 [==============================] - 1s 924us/step - loss: 0.5369 - accuracy: 0.7393
Epoch 45/50
804/804 [==============================] - 1s 924us/step - loss: 0.5373 - accuracy: 0.7383
Epoch 46/50
804/804 [==============================] - 1s 914us/step - loss: 0.5370 - accuracy: 0.7387
Epoch 47/50
804/804 [==============================] - 1s 907us/step - loss: 0.5372 - accuracy: 0.7383
Epoch 48/50
804/804 [==============================] - 1s 905us/step - loss: 0.5364 - accuracy: 0.7396
Epoch 49/50
804/804 [==============================] - 1s 911us/step - loss: 0.5364 - accuracy: 0.7389
Epoch 50/50
804/804 [==============================] - 1s 943us/step - loss: 0.5366 - accuracy: 0.7381

#### Alternative Model 2

In [48]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_train_alt.iloc[0])

# Review the number of features
number_input_features_A2

48

In [49]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [50]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features_A2 + number_output_neurons_A2) * 3 // 4

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

36

In [51]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 =  (hidden_nodes_layer1_A2 + number_output_neurons_A2) * 3 // 4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A2

27

In [52]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 =  (hidden_nodes_layer2_A2 + number_output_neurons_A2) * 3 // 4

# Review the number hidden nodes in the second layer
hidden_nodes_layer3_A2

21

In [53]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [54]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features_A2, activation="relu"))

# Add the second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Add the third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 36)                1764

 dense_7 (Dense)             (None, 27)                999

 dense_8 (Dense)             (None, 21)                588

 dense_9 (Dense)             (None, 1)                 22

=================================================================
Total params: 3,373
Trainable params: 3,373
Non-trainable params: 0
_________________________________________________________________

In [55]:
# Compile the Sequential model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [56]:
# Fit the model using 50 epochs and the training data
fit_model_A2 = nn_A2.fit(X_train_scaled_alt, y_train_alt, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5683 - accuracy: 0.7200
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7294
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7297
Epoch 4/50
804/804 [==============================] - 1s 975us/step - loss: 0.5469 - accuracy: 0.7333
Epoch 5/50
804/804 [==============================] - 1s 976us/step - loss: 0.5458 - accuracy: 0.7334
Epoch 6/50
804/804 [==============================] - 1s 974us/step - loss: 0.5448 - accuracy: 0.7347
Epoch 7/50
804/804 [==============================] - 1s 961us/step - loss: 0.5438 - accuracy: 0.7340
Epoch 8/50
804/804 [==============================] - 1s 961us/step - loss: 0.5437 - accuracy: 0.7349
Epoch 9/50
804/804 [==============================] - 1s 992us/step - loss: 0.5427 - accuracy: 0.7345
Epoch 10/50
804/804 [==============================] - 1s 960us/step - loss: 0.5426 - accuracy: 0.7342
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7343
Epoch 12/50
804/804 [==============================] - 1s 992us/step - loss: 0.5415 - accuracy: 0.7340
Epoch 13/50
804/804 [==============================] - 1s 973us/step - loss: 0.5411 - accuracy: 0.7368
Epoch 14/50
804/804 [==============================] - 1s 976us/step - loss: 0.5408 - accuracy: 0.7362
Epoch 15/50
804/804 [==============================] - 1s 995us/step - loss: 0.5399 - accuracy: 0.7373
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7373
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7371
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7369
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7372
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7363
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7369
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7381
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7364
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7374
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7387
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7394
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7390
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7378
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7379
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7392
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7398
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7400
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7388
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7389
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7391
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7392
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7387
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7392
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7397
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7387
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7396
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7402
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7409
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7396
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7406

#### Alternative Model 3

In [57]:
# Define the the number of inputs (features) to the model
number_input_features_A3 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A3

116

In [58]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

In [67]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 = (number_input_features_A3 + number_output_neurons_A3) * 3 // 4

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A3

29

In [68]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A3 =  (hidden_nodes_layer1_A3 + number_output_neurons_A3) * 3 // 4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A3

7

In [69]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A3 =  (hidden_nodes_layer2_A3 + number_output_neurons_A3) * 3 // 4

# Review the number hidden nodes in the second layer
hidden_nodes_layer3_A3

2

In [70]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [71]:
# First hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer1_A3, input_dim=number_input_features_A3, activation="relu"))

# Add the second hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer2_A3, activation="relu"))

# Add the third hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer3_A3, activation="relu"))

# Output layer
nn_A3.add(Dense(units=number_output_neurons_A3, activation="sigmoid"))

# Check the structure of the model
nn_A3.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 29)                3393

 dense_15 (Dense)            (None, 7)                 210

 dense_16 (Dense)            (None, 2)                 16

 dense_17 (Dense)            (None, 1)                 3

=================================================================
Total params: 3,622
Trainable params: 3,622
Non-trainable params: 0
_________________________________________________________________

In [72]:
# Compile the Sequential model
nn_A3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [73]:
# Fit the model using 50 epochs and the training data
fit_model_A3 = nn_A3.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 899us/step - loss: 0.6262 - accuracy: 0.7087
Epoch 2/50
804/804 [==============================] - 1s 933us/step - loss: 0.5777 - accuracy: 0.7228
Epoch 3/50
804/804 [==============================] - 1s 978us/step - loss: 0.5690 - accuracy: 0.7235
Epoch 4/50
804/804 [==============================] - 1s 970us/step - loss: 0.5648 - accuracy: 0.7244
Epoch 5/50
804/804 [==============================] - 1s 966us/step - loss: 0.5599 - accuracy: 0.7283
Epoch 6/50
804/804 [==============================] - 1s 970us/step - loss: 0.5571 - accuracy: 0.7304
Epoch 7/50
804/804 [==============================] - 1s 954us/step - loss: 0.5549 - accuracy: 0.7311
Epoch 8/50
804/804 [==============================] - 1s 933us/step - loss: 0.5543 - accuracy: 0.7305
Epoch 9/50
804/804 [==============================] - 1s 975us/step - loss: 0.5535 - accuracy: 0.7304
Epoch 10/50
804/804 [==============================] - 1s 989us/step - loss: 0.5524 - accuracy: 0.7305
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7316
Epoch 12/50
804/804 [==============================] - 1s 978us/step - loss: 0.5506 - accuracy: 0.7324
Epoch 13/50
804/804 [==============================] - 1s 936us/step - loss: 0.5458 - accuracy: 0.7371
Epoch 14/50
804/804 [==============================] - 1s 928us/step - loss: 0.5457 - accuracy: 0.7355
Epoch 15/50
804/804 [==============================] - 1s 956us/step - loss: 0.5453 - accuracy: 0.7351
Epoch 16/50
804/804 [==============================] - 1s 968us/step - loss: 0.5446 - accuracy: 0.7373
Epoch 17/50
804/804 [==============================] - 1s 957us/step - loss: 0.5444 - accuracy: 0.7360
Epoch 18/50
804/804 [==============================] - 1s 979us/step - loss: 0.5438 - accuracy: 0.7366
Epoch 19/50
804/804 [==============================] - 1s 933us/step - loss: 0.5432 - accuracy: 0.7366
Epoch 20/50
804/804 [==============================] - 1s 947us/step - loss: 0.5428 - accuracy: 0.7378
Epoch 21/50
804/804 [==============================] - 1s 945us/step - loss: 0.5425 - accuracy: 0.7377
Epoch 22/50
804/804 [==============================] - 1s 912us/step - loss: 0.5430 - accuracy: 0.7350
Epoch 23/50
804/804 [==============================] - 1s 927us/step - loss: 0.5428 - accuracy: 0.7366
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7378
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7378
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7353
Epoch 27/50
804/804 [==============================] - 1s 972us/step - loss: 0.5413 - accuracy: 0.7371
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7376
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7380
Epoch 30/50
804/804 [==============================] - 1s 970us/step - loss: 0.5407 - accuracy: 0.7369
Epoch 31/50
804/804 [==============================] - 1s 930us/step - loss: 0.5405 - accuracy: 0.7382
Epoch 32/50
804/804 [==============================] - 1s 898us/step - loss: 0.5399 - accuracy: 0.7385
Epoch 33/50
804/804 [==============================] - 1s 928us/step - loss: 0.5402 - accuracy: 0.7370
Epoch 34/50
804/804 [==============================] - 1s 894us/step - loss: 0.5408 - accuracy: 0.7375
Epoch 35/50
804/804 [==============================] - 1s 898us/step - loss: 0.5394 - accuracy: 0.7389
Epoch 36/50
804/804 [==============================] - 1s 898us/step - loss: 0.5397 - accuracy: 0.7387
Epoch 37/50
804/804 [==============================] - 1s 937us/step - loss: 0.5396 - accuracy: 0.7390
Epoch 38/50
804/804 [==============================] - 1s 973us/step - loss: 0.5395 - accuracy: 0.7378
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7385
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7390
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7378
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7376
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7372
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7392
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7386
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7385
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7386
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7393
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7383
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7386

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [66]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

SyntaxError: invalid syntax (2304092518.py, line 4)

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE